header {
    display: flex; /* Muutetaan asettelu flexiksi */
    flex-direction: column; /* flex asettelu on sarake (pystysuora) */
/*  position: relative;  elementinsijainti */
    background-color: rgb(129, 13, 13); /* taustaväri */
    align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
    justify-content: center; /* tasataan elementit keskeltä vaakasuunnassa*/
    font-weight: bolder; /* otsikon fontin leveys paksu */
    font-size: 80px; /* Yläotsikon fonttikoko */
    height: 35%; /* Headerin korkeus */
    margin-top: 1%; /* asetetaan marginaali */
    margin-left: 10%; /* asetetaan marginaali */
    margin-right: 10%; /* asetetaan marginaali */
    color: whitesmoke; /* tekstin väri */
        }
body {
    background-color: hsla(50, 3%, 1%, .95); /* taustaväri */
    }
.gym {
    display: flex; /* Muutetaan asettelu flexiksi */
    flex-direction: column; /* flex asettelu on sarake (pystysuora) */
    text-align: center; /* tekstin asettelu keskelle */
    font-size: 60px; /* alemman otsikon fonttikoko */
    background-color: hsla(50, 3%, 20%, .65); /* taustaväri */
    padding: 0.1em; /* täyttö elementin sisällä */
    color: whitesmoke; /* tekstin väri */
    margin-left: 10%; /* asetetaan marginaali */
    margin-right: 10%; /* asetetaan marginaali */
    margin-bottom: 1%; /* asetetaan marginaali */
    margin-top: 1%; /* asetetaan marginaali */
    }
#images {
    display: flex; /* Muutetaan asettelu flexiksi */
    flex-direction: column; /* flex asettelu on sarake (pystysuora) */
   /* position: relative; elementinsijainti */
    align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
    text-align: center; /* tekstin asettelu keskelle */
    background-color: grey; /* taustaväri */
    margin-left: 10%; /* asetetaan marginaali */
    margin-right: 10%; /* asetetaan marginaali */
    }
#images img {
    margin-top: 5%; /* asetetaan marginaali */
    }
footer {
  display: flex; /* Muutetaan asettelu flexiksi */
  justify-content: space-between; /* jakaa tilan tasaisesti elementtien välillä */
  padding: 20px; /* täyttö elementin sisällä  */
  background-color: hsla(50, 3%, 20%, .65); /* taustaväri */
  color: whitesmoke; /* tekstin väri */;
  margin-left: 10%; /* asetetaan marginaali */
  margin-right: 10%; /* asetetaan marginaali */
  /* margin-bottom: 1%; */
    margin-top: 1%; /* asetetaan marginaali */
}
footer address {
  line-height: 0.2; /* rivivälin koko */
  text-align: left; /* tasataan teksti vasemmalta */
  }