header { /* koko yläosa */
	/*  position: relative;  elementinsijainti */
	background-color: black; /* taustaväri */
	display: flex; /* tehdään elementistä flex */
	flex-direction: column; /* flex asettelu on sarake (pystysuora) */
	align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
	justify-content: center; /* tasataan elementit keskeltä vaakasuunnassa*/
	font-weight: bolder; /* otsikon alatekstin fontin leveys paksu */
	font-size: 30px; /* otsikon alatekstin fonttikoko */
	margin-top: 1%; /* asetetaan marginaali */
	margin-left: 15%; /* asetetaan marginaali */
	margin-right: 15%; /* asetetaan marginaali */
	color: whitesmoke; /* tekstin väri */
	}
header img { /* yläosan kuva */
	max-height: 50%; /* max-korkeus headerin korkeudesta*/
	max-width: 50%; /* max-leveys headerin leveydestä */
	  }
.navtop {
	background-color: black; /* taustaväri */
	height: 60px; /* korkeus */
	border: 0; /* reuna/raja */
	margin-left: 15%; /* asetetaan marginaali */
	margin-right: 15%; /* asetetaan marginaali */
	}
.navtop div {
	display: flex;
	height: 100%; /* korkeus */
	}
.navtop div h1, .navtop div a {
	display: inline-flex; 
	align-items: center; /* asettelu keskelle elementtiä */
	}
.navtop div h1 {
	flex: 1;
	font-size: 24px; /* fonttikoko */
	padding: 0; /* täyte elementin sisällä */
	margin-left: 2%; /* asetetaan marginaali */
	color: white; /* tekstin väri */
	font-weight: normal; /* fontin leveys */
	}
.navtop div a {
	padding: 0 2%; /* täyte elementin sisällä */
	text-decoration: none; /* poistaa alleviivauksen */
	color: #c1c4c8; /* tekstin väri */
	font-weight: bold; /* fontin leveys */
	}
.navtop div a i {
  padding: 0 5px;
    }
.eka {
  background-color: hsla(50, 3%, 20%, .65); /* taustaväri */
  padding: 0.1em; /* täyttö elementin sisällä */
  color: whitesmoke; /* tekstin väri */
  margin-left: 15%; /* asetetaan marginaali */
  margin-right: 15%; /* asetetaan marginaali */
  margin-bottom: 1%; /* asetetaan marginaali */
}
.eka p {
  margin-left: 2%; /* asetetaan marginaali */
  font-size: large; /* fonttikoko suuri */
}
.eka ul {
  list-style-type: none; /* poistetaan luettelomerkit */
  margin-left: 0%; /* poistetaan marginaali vasemmalta*/
  }
.eka ul a  {
  list-style-type: none; /* poistetaan luettelomerkit */
  font-family:Arial, Helvetica, sans-serif; /* fonttityyli */
  color: whitesmoke; /* fontin väri */
  text-decoration: none; /* poistaa alleviivauksen */}
body {
  background-color: hsla(50, 3%, 1%, .95); /* taustaväri */
}
.container {
  display: flex; /* muutetaan asettelu flexiksi */
  flex-wrap: wrap; /* tasainen sijoittelu */
  justify-content: space-between; /* jakaa tilan tasaisesti elementtien välillä */
  padding: 0 15%; /* täyttö elementin sisällä  */
  }
.row {
  display: flex; /* muutetaan asettelu flexiksi */
    /* flex-direction: row-reverse; */
  align-items: center; /* tasataan elementit keskeltä pystysuunnassa*/
  width: calc(48% - 20px); /* leveys */
  height: 200px; /* korkeus */
  margin-bottom: 20px; /* asetetaan marginaali */
  background-color: gray; /* taustaväri */
}
.image {
  width: 100%; /* leveys */
  height: 100%; /* korkeus */
 /*   object-fit: cover; sovitus elementin kokoon, säilytetään kuvasuhde */
  order: 2; /* sijoittelu tokana */
}
.text {    
  display: flex; /* muutetaan asettelu flexiksi */
  flex-wrap: wrap; /* tasainen sijoittelu */
  margin-right: 20px; /* asetetaan marginaali */
  order: 1; /* sijoittelu ekana */
  margin-left: 30px; /* asetetaan marginaali */
  }
.text a {
  text-decoration: none; /* poistaa alleviivauksen */
  color: black; /* tekstin väri */
  }
@media (max-width: 600px) {  /* kun näytön leveys 600px... */
    .row {
        flex-direction: column;  /* ...asettelu muuttuu pystysuunnaksi... */
        width: 100%; /* ...ja muutetaan leveys */
    }
}
footer {
  display: flex; /* muutetaan asettelu flexiksi */
  flex-wrap: wrap;
  justify-content: space-between; /* jakaa tilan tasaisesti elementtien välillä */
  padding: 20px; /* täyttö elementin sisällä  */
  background-color: hsla(50, 3%, 20%, .65); /* taustaväri */
  color: whitesmoke; /* tekstin väri */
  margin-left: 15%; /* asetetaan marginaali */
  margin-right: 15%; /* asetetaan marginaali */
}
footer address {
  line-height: 0.2; /* rivivälin koko */
  text-align: left; /* tasataan teksti vasemmalta */
}