header {
	background-color: hsla(50, 3%, 20%, .65);
	margin-left: 15%;
	margin-right: 15%;
	height: 200px;
	}
body {
	background-color: black;
	}
.text {
	background-color: gray;
	margin-left: 15%;
	margin-right: 15%;
	height: 50px;
	}
.text h2 {
	color: black;
	padding: 0.5em; /* täyttö elementin sisällä */
	}
.users {
	background-color: gray;
	margin-left: 15%;
	margin-right: 15%;
	height: 100%;
	}