header {
	background-color: hsla(50, 3%, 20%, .65);
	margin-left: 25%;
	margin-right: 25%;
	height: 200px;
	}
body {
	background-color: black;
	}
.text {
	background-color: hsla(50, 3%, 70%, 65);
	margin-left: 25%;
	margin-right: 25%;
	height: 50px;
	}
.text h1 {
	color: black;
	padding: 0.5em; /* täyttö elementin sisällä */
	text-align: center;
	}
.users {
	background-color: hsla(50, 3%, 70%, 65);
	margin-left: 25%;
	margin-right: 25%;
	height: 100%;
	padding: 20px;
	font-size: large;
	text-align: center;
	}