header {
    background-color: black;
    margin-left: 20%; /* asetetaan marginaali */
    margin-right: 20%; /* asetetaan marginaali */
    height: 200px;
}
.navtop {
    background-color: hsla(50, 3%, 20%, .65); /* taustaväri */
    padding: 0.1em; /* täyttö elementin sisällä */
    color: whitesmoke; /* tekstin väri */
    margin-left: 20%; /* asetetaan marginaali */
    margin-right: 20%; /* asetetaan marginaali */
    margin-bottom: 1%; /* asetetaan marginaali */
}
.navtop a {
    margin-left: 2%; /* asetetaan marginaali */
    font-size: large; /* fonttikoko suuri */
    padding: 0 20px; /* täyte elementin sisällä */
    color: rgb(194, 192, 192); /* tekstin väri */
    text-decoration: none; /* poistaa alleviivauksen */
}
.navtop a, i {
    padding: 0 8px;
}
.navtop h1 {
    margin-left: 2%; /* asetetaan marginaali */
    /* padding-top: 1.5%; */
  }
.navtop a, h1 {
    display: inline-flex; 
    align-items: center; /* asettelu keskelle elementtiä */
}
body {
    background-color: hsla(50, 3%, 1%, .95); /* taustaväri */
}
.content {
    background-color: rgb(194, 192, 192); /* taustaväri */
    margin-left: 20%; /* asetetaan marginaali */
    margin-right: 20%; /* asetetaan marginaali */
    padding-top: 0.5%;
    padding-bottom: 1.5%;
}
.content h2, p, table { 
    margin-left: 2%;
}
.content a { 
    margin-left: 2%;
    font-size: large;
    color: black;
}
footer {
    background-color: black;
    margin-left: 20%; /* asetetaan marginaali */
    margin-right: 20%; /* asetetaan marginaali */
    height: 400px;
}