/* Sivun taustaväri ja yleinen fontti */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #373535;
}

/* Teksti keskelle */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Otsikon koko, väri ja paikka */
h2 {
    text-align: center;
    margin-top: 20px;
    color: #edebeb;
}
/* Nappi joka vie takaisin pääsivulle */
.back-to-main {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px 20px;
    background-color: #800c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 999; 
}

/* Tekstien koko, väri, paikka*/
p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: #eee8e8;
}

/* Nappi (molemmat) */
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #800c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Nappi muuttuu mustaksi kun hiiren laittaa sen päälle */
button:hover {
    background-color: #000000;
}

/* Ei toimi */
#Vastaus {
    margin-top: 20px;
    text-align: center;
}

/* Kuvien asettelu */
.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Kuvien asettelu (border-color ei näy)*/
.image-container img {
    width: 300px;
    height: auto;
    margin: 0 10px;
    border-radius: 5px;
    border-color: #000000;
}